
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables, colores */
:root {
  --primary: #5e400f;
  --secondary: #daba86;
  --accent: #ee9106;
  --danger: #d04026;
  --light: #f5e8d2;
  --dark: #2b1c08;
}

/* BODY */
body {
    background: var(--dark);
    color: var(--light);
    font-family: "MedievalSharp", cursive;
    /* font-family: "Segoe UI", sans-serif; */
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}

main {
    
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     

    width: 100%; /* Ocupa todo el ancho */
}

/* CONTENEDOR PRINCIPAL */
#game-container {
    width: 95%;
    height: auto;
    max-width: 800px;
    /*ancho*/
    margin-top: 32px;
    margin-bottom: 32px;
    background: var(--primary);
    padding: 24px;
    border-radius: 16px;
    border: 3px solid var(--secondary);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    cursor: crosshair; /*ratón en forma de cruz*/
}

/*  ESCENAS  */
/*cambiar las escenas*/
.game-scene {
    display: none;
    flex-direction: column;
    gap: 24px;
}

.active-scene {
    display: flex;
}

.hidden-scene { display: none; }


/* Titulo principal*/
.game-scene h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 8px;
    color: var(--accent);
}

/* TARJETAS Y CAJAS */

#player-card-initial,
#player-card-updated {
    background: var(--secondary);
    padding: 20px;
    border-radius: 12px;
    color: var(--dark);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

/* Grid de estadísticas */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 12px auto 0 auto; /* margen superior + centrado horizontal */
    width: 600px;

}

.stat-box {
    background: var(--primary);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--dark);
    font-weight: bold;
    color: var(--light);
}

#player-avatar-img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid var(--dark); 
}

/* centrar nombre */
#player-card-initial { 
    text-align: center;
}

/* BOTONES */

.btn-continue,
.btn-toggle,
.btn-add, /* Añadir */
.btn-remove /*Retirar */
{
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    padding: 12px 20px;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    margin-top: 12px;
    border: 1px solid;
    
    transition: 0.2s; /* efecto */
}

.btn-continue:hover,
.btn-toggle:hover {
    transform: scale(1.05); /* Efecto de crecimiento */
}

/* botón AÑADIR */
.btn-add {
    background: var(--accent);
    border: 1px solid var(--dark);
}

/* botón RETIRAR */
.btn-remove {
    background: var(--light); /* Fondo claro */
    border: 1px solid var(--dark);
}

/* hover al btn de Retirar, si pasa el raton cambia al color naranja */
.btn-remove:hover, .btn-continue:hover {
    background: rgb(255, 186, 83);
}
/* .btn-continue:hover {
    background: rgb(255, 186, 83);
} */


/* MERCADO */

.market-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    justify-items: center;
    
    padding: 8px;
    
}

/* Estilo para cada producto */
.product-item {
    min-width: 200px;
    background: var(--secondary);
    padding: 10px;
    border-radius: 12px;
    color: var(--dark);
    border: 2px solid var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease-out; /* REQUISITO Efecto */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.product-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño + sombra */ 
    cursor: crosshair; /* Cruz*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

/* Imagen de los productos */
.product-item .product-image {
    width: 80px; 
    height: 80px; 
    object-fit: contain;
    margin: 0 auto 8px auto; 
}


/* Inventario */

#inventario-container {
    background-color: var(--light);
    padding: 12px;
    border-radius: 8px; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    
    width: 80%;
    margin: 20px auto; /* Centrar en la página */
    
    border: 1px solid var(--dark);
    
}

#inventory-list-updated.cart-grid {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 5px; 
    
    width: 100%; 
    box-sizing: border-box; 
}

/* Casillas individual */
.item {
    flex-basis: calc(16.666% - 4.166px); 
    aspect-ratio: 1 / 1; /*  aspecto un cuadrado. */
    
    border: 1px solid var(--dark-color);
    cursor: crosshair;
    
}
.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    display: block; 
    margin: auto;
    pointer-events: none;
}

/* Inventario Escena 3*/
#inventario-container-stats {
    background-color: var(--light);
    padding: 12px;
    border-radius: 8px; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    
    width: 80%;
    margin: 20px auto; /* Centrar en la página */

    border: 1px solid var(--dark);
}


#inventory-list-stats.cart-grid {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 5px; 

    width: 100%; 
    box-sizing: border-box; 
    min-height: 80px; 
}

/* Inventario escena 5 */
#inventory-display-battle {
    background-color: var(--light);
    padding: 12px;
    border-radius: 8px; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    
    width: 80%;
    margin: 20px auto; /* Centrar en la página */

    border: 1px solid var(--dark);
}

#battle-inventory-list.cart-grid {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 5px; 
    
    width: 100%; 
    box-sizing: border-box; 
    min-height: 80px; 
    
}

/* INVENTARIO FINAL  */

#final-inventory {
    background-color: var(--light);
    padding: 12px;
    border-radius: 8px; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    
    width: 80%;
    margin: 20px auto; /* Centrar en la página */

    border: 1px solid var(--dark);
}
#final-inventory-list{
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 5px; 

    width: 100%; 
    box-sizing: border-box; 
    min-height: 80px; 
}


/* ENEMIGOS */
.enemies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    justify-items: center;
}

.enemy-item {
    min-width: 200px; 
    background: var(--secondary);
    padding: 10px;
    border-radius: 12px;
    color: var(--dark);
    border: 3px solid var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease-out; /* REQUISITO Efecto */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.enemy-item:hover {
    transform: scale(1.05); 
    cursor: crosshair;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.enemy-image {
    width: 100%; 
    max-height: 120px; 
    object-fit: contain;
    margin-bottom: 8px;
    border-radius: 8px;
}


/* BATALLA  ESCENA 5*/

.battle-area {
    background: var(--secondary);
    width: 100%;
    height: 500px;
    padding: 12px;
    border-radius: 12px;
    color: black;
    border: 3px solid var(--dark);

    text-align: center;
    display: flex;
    flex-direction: column;

}

.combatants-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    overflow: hidden; /* Requisito, para la animación, oculta */
    flex-grow: 1;  /* espacio para el VS */
}

.player-side,
.enemy-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;

    transform: translateX(0); /* requisito de la animación */
}

.combat-avatar {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid var(--dark);
}

.vs-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--danger);
}

.combat-log {
    margin: 10px auto; 
    font-size: 1.2rem;
    
}

#battle-enemy-name {
    color: var(--dark);
}


/* ANIMACIÓN DE ENTRADA (Keyframes) */

/* Jugadora */
@keyframes entradaJugador {
    0% {
        /* Posición Inicial: Fuera a la izquierda */
        transform: translateX(-150%); 
    }
    100% {
        /* Posición Final: En su lugar */
        transform: translateX(0); 
    }
}

/* Enemigo */
@keyframes entradaEnemigo {
    0% {
        /* Posición Inicial: Fuera a la derecha */
        transform: translateX(150%); 
    }
    100% {
        /* Posición Final: En su lugar */
        transform: translateX(0); 
    }
}


/* Aplica la animación al jugador */
.player-side {
    animation-name: entradaJugador;
    animation-duration: 1s; /* Duración */
    animation-timing-function: ease-out; /* Curva de velocidad */
    animation-fill-mode: backwards; /* Mantiene la posición inicial antes de empezar la animación */
}

/* Aplica la animación al enemigo */
.enemy-side {
    animation-name: entradaEnemigo;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}


/* FINAL */

#final-message {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-stats{
    background: var(--secondary);
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 12px;
    color: var(--dark);
    border: 2px solid var(--dark);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.final-result-box {
    display: flex;
    justify-content: center;
}



/* Pie de página */
#footer {
    color: var(--light); 
    padding: 15px 0; 
    width: 100%; 
    text-align: center;
    font-size: 0.9em ;
     
}


/* RESPONSIVE */

@media (max-width: 640px) {
    #game-container {
        padding: 12px;
    }

    .combatants-info {
        flex-direction: column;
        gap: 16px;
    }
}