
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables, colores */
:root {
  --primary: #5e400f;
  --secondary: #daba86;
  --accent: #ee9106;
  --danger: #d04026;
  --light: #f5e8d2;
  --dark: #2b1c08;
}

/* BODY */
body {
    background: var(--dark);
    color: var(--light);
    font-family: "MedievalSharp", cursive;
    /* font-family: "Segoe UI", sans-serif; */
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

/* CONTENEDOR PRINCIPAL */
#game-container {
    width: 80%;
    max-width: 800px;
    height: 600px; /*ancho*/
    margin-top: 32px;
    margin-bottom: 32px;
    background: var(--primary);
    padding: 24px;
    border-radius: 16px;
    border: 3px solid var(--secondary);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*  ESCENAS  */
/*cambiar las escenas*/
.game-scene {
    display: none;
    flex-direction: column;
    gap: 24px;
}

.active-scene {
    display: flex;
}

.hidden-scene { display: none; }


/* Titulo principal*/
.game-scene h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 8px;
    color: var(--accent);
}

/* TARJETAS Y CAJAS */

#player-card-initial,
#player-card-updated {
    background: var(--secondary);
    padding: 20px;
    border-radius: 12px;
    color: var(--dark);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

/* Grid de estadísticas */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 12px auto 0 auto; /* margen superior + centrado horizontal */
    width: 600px;
}

.stat-box {
    background: var(--primary);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--dark);
    font-weight: bold;
    color: var(--light);
}

#player-avatar-img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid var(--dark); 
}

/* centrar nombre */
#player-card-initial { 
    text-align: center;
}

/* BOTONES */

.btn-continue,
.btn-toggle,
.btn-add, /* Añadir */
.btn-remove /*Retirar */
{
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    padding: 12px 20px;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    margin-top: 12px;
    
    transition: 0.2s; /* efecto */
}

.btn-continue:hover,
.btn-toggle:hover {
    transform: scale(1.05); /* Efecto de crecimiento */
}

/* botón AÑADIR */
.btn-add {
    background: var(--accent);
    color: var(--dark);
    border: 1px solid var(--accent);
}

/* botón RETIRAR */
.btn-remove {
    background: var(--light); /* Fondo claro */
    color: var(--dark);
    border: 1px solid var(--dark);
}

/* hover al btn de Retirar, si pasa el raton cambia al color naranja */
.btn-remove:hover, .btn-continue:hover {
    background: rgb(255, 186, 83);
}
/* .btn-continue:hover {
    background: rgb(255, 186, 83);
} */


/* MERCADO */

.market-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    justify-items: center;
    /* margin-bottom: 24px; */
    padding: 8px; 
}

/* Estilo para cada producto */
.product-item {
    min-width: 200px; 
    background: var(--secondary);
    padding: 10px;
    border-radius: 12px;
    color: var(--dark);
    border: 3px solid var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease-out; /* REQUISITO Efecto */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.product-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño + sombra */ 
    cursor: crosshair; /* Cruz*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

/* Imagen de los productos */
.product-item .product-image {
    width: 80px; 
    height: 80px; 
    object-fit: contain;
    margin: 0 auto 8px auto; 
}


/* Inventario */

.cart-grid {
    background: none; 
    padding: 0;
    border: none;
    height: auto;
    
    margin-top: auto; 
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    max-width: 500px; 
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Estilo para cada casilla individual (slot) */
.inventory-slot {
    width: 60px;
    height: 60px;
    background: var(--dark); 
    border: 3px solid var(--secondary); 
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease-in-out; 
}

.inventory-slot:hover {
    transform: scale(1.2); 
    cursor: pointer;
}


#player-inventory-updated {
    margin-top: 20px; 
    padding-top: 15px; 
   
}



/* Estilo para cada elemento del iventario */
#inventory-list-updated li,
#final-inventory div {
    background-color: #5e400f;
    margin: 6px 0;
    padding: 8px;
    border-radius: 6px;
    color: var(--dark);
    font-weight: bold;
    display: flex;
    align-items: center; 
}

/* Estilo y efecto hover/zoom para la imagen */
.inventory-item-image {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out; 
}

.inventory-item-image:hover {
    transform: scale(1.5); 
    cursor: pointer;
}

/* Estilos del Recuadro Marrón */
#inventory-display-battle {
    background: var(--primary);
    color: var(--light); 
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 10px 20px; 

    margin: 15px auto;
    width: 60%; 
  
    text-align: left; 
}


#final-inventory {
    background: var(--dark); 
    color: var(--light); 
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 10px 20px; 
    
    margin: 15px auto 20px auto; 
    width: 60%; 
    max-width: 500px; 
 
    text-align: left; 
    display: flex; 
    flex-direction: column;
}



/* ENEMIGOS */
.enemies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    justify-items: center;
}

.enemy-item {
    min-width: 200px; 
    background: var(--secondary);
    padding: 10px;
    border-radius: 12px;
    color: var(--dark);
    border: 3px solid var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease-out; /* REQUISITO Efecto */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.enemy-item:hover {
    transform: scale(1.05); 
    cursor: crosshair;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}

.enemy-image {
    width: 100%; 
    max-height: 120px; 
    object-fit: contain;
    margin-bottom: 8px;
    border-radius: 8px;
}


/* BATALLA */

.battle-area {
    background: var(--secondary);
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 12px;
    color: black;
    border: 3px solid var(--dark);

    text-align: center;
    display: flex;
    flex-direction: column;

    
}

.combatants-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    overflow: hidden; /* Requisito, para la animación, oculta */
    flex-grow: 1;  /* espacio para el VS */
}

.player-side,
.enemy-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;

    transform: translateX(0); /* requisito de la animación */
}

.combat-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid var(--dark);
}

.vs-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--danger);
}

.combat-log {
    margin: 10px auto; 
    font-size: 1.2rem;
    
}

#battle-enemy-name {
    
    color: var(--dark);
}


/* ANIMACIÓN DE ENTRADA (Keyframes) */

/* Jugadora */
@keyframes entradaJugador {
    0% {
        /* Posición Inicial: Fuera a la izquierda */
        transform: translateX(-150%); 
    }
    100% {
        /* Posición Final: En su lugar */
        transform: translateX(0); 
    }
}

/* Enemigo */
@keyframes entradaEnemigo {
    0% {
        /* Posición Inicial: Fuera a la derecha */
        transform: translateX(150%); 
    }
    100% {
        /* Posición Final: En su lugar */
        transform: translateX(0); 
    }
}


/* Aplica la animación al jugador */
.player-side {
    animation-name: entradaJugador;
    animation-duration: 1s; /* Duración */
    animation-timing-function: ease-out; /* Curva de velocidad */
    animation-fill-mode: backwards; /* Mantiene la posición inicial antes de empezar la animación */
}

/* Aplica la animación al enemigo */
.enemy-side {
    animation-name: entradaEnemigo;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}


/* FINAL */

#final-message {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-stats{
    background: var(--secondary);
    width: 100%;
    height: 200px;
    padding: 12px;
    border-radius: 12px;
    color: var(--dark);
    border: 3px solid var(--dark);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.final-result-box {
    display: flex;
    justify-content: center;
}





/* RESPONSIVE  CAMBIAR NO FUNCIONA*/

@media (max-width: 640px) {
    #game-container {
        padding: 12px;
    }

    .combatants-info {
        flex-direction: column;
        gap: 16px;
    }
}